$base03:    #002b36;
$base02:    #073642;
$base01:    #586e75;
$base00:    #657b83;
$base0:     #839496;
$base1:     #93a1a1;
$base2:     #eee8d5;
$base3:     #fdf6e3;
$yellow:    #b58900;
$orange:    #cb4b16;
$red:       #dc322f;
$magenta:   #d33682;
$violet:    #6c71c4;
$blue:      #268bd2;
$cyan:      #2aa198;
$green:     #859900;

body {
    padding: 2em 0;
    font-size: 16px;
    font-family: 'Source Code Pro', Menlo, Monaco, monospace;
    line-height: 1.5em;
    font-weight: 400;
    color: $base3;
    background: $base03;
}

pre,
ul,
p,
b,
strong,
h1, 
h2, 
h3, 
h4 {
    margin: 0;
    font-weight: 400;
    font-size: 1em;
}

section {
    margin-bottom: 1em;
}

ul {
    padding: 0;
    li {
        list-style: none;
        &:before {
            content: "* ";
            margin-left: -1.25em;
            color: $base01;
        }
    }
}

pre {
    white-space: pre;
}

::-moz-selection {
    background: $orange;
    color: $base0;
}

::selection {
    background: $yellow;
    color: $base03;
}
