---
layout: default
title: Tyler Cipriani&mdash;Weblog
---

{% for post in paginator.posts %}
    <article>
        <header>
            <h1><a href="{{ post.url }}">{{ post.title }}</a></h1>
        </header>
        <aside><span>Posted on:</span> {{ post.date | date: "%B %e, %Y" }} <span>by</span> Tyler H.T. Cipriani</aside>
        <p>
            {{ post.excerpt }}
        </p>
        <hr />
    </article>
{% endfor %}

<!-- Pagination links -->
<nav>
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}" class="previous">Previous</a>
  {% endif %}
  <span>{{ paginator.page }} of {{ paginator.total_pages }}</span>
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}" class="next">Next</a>
  {% endif %}
</nav>
