<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" type="text/css" href="/styles/main-min.css" />


        <!--[if lt IE 9]>
            <script type="text/javascript" src="/scripts/html5shiv-min.js"></script>
        <![endif]-->

        <!--Le Typekit -->
        <script type="text/javascript" src="//use.typekit.net/kyl1abf.js"></script>
        <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
    </head>
    <body>
        <main role="main">
            <header>
                <a href="/" title="Logo Home">
                    <img src="http://tylercipriani-files.s3.amazonaws.com/blog/201307_p_tyler_logo.png" alt="Tyler Cipriani" />
                </a>

                <h1>TYLER CIPRIANI</h1>
                <h2>Gentleman, Scholar, Web Hacker</h2>
            </header>

            <nav>
                <ul>
                    <li><a href="/" title="Home">Home</a></li>
                    <li><a href="/blog/" title="Weblog">Weblog</a></li>
                    <li><a href="https://github.com/thcipriani/links" title="Links">Links</a></li>
                    <li><a href="/hireme/" title="Résumé">Résumé</a></li>
                </ul>
            </nav>

            {{ content }}

            {% if page.url != "/index.html" %}
            <article> 
            {% endif %}
            <footer >
                <p>
                    All pixels lovingly mashed by Tyler Cipriani<br />
                    Copyright 2013&mdash;<a href="http://www.apache.org/licenses/LICENSE-2.0.html" target="_blank" title="Apache v2 license agreement">Apache v2 License</a>
                </p>
            </footer>
            {% if page.url == "/blog/index.html" %}
            </article> 
            {% endif %}
        </main>

        <script type="text/javascript">
            var _gaq=[['_setAccount','UA-25103397-1'],['_trackPageview']];
            (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
            g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
            s.parentNode.insertBefore(g,s)}(document,'script'));
        </script>
    </body>
</html>
