---
layout: default
---

<article>
    <header>
      {% if page.image %}
        <figure>
            <img src="{{ page.image }}" alt="{{ page.image_alt }}" />
        </figure>
      {% endif %}

        <h1>{{ page.title }}</h1>
        <h2>Posted on: <span>{{ page.date | date: "%Y-%m-%d" }}</span> by <span>Tyler H.T. Cipriani</span></h2>
    </header>

    {{ content }}

    <hr />

    <a href="/blog/" title="Back to the weblog">&larr; View Weblog</a>

    <footer>
        <script data-isso="https://comments.tylercipriani.com/"
        src="https://comments.tylercipriani.com/js/embed.min.js"></script>

        <section id="isso-thread"></section>
        <noscript>
            <p>
                <a title="NoScript, You're my herohref=" href="https://noscript.net">NoScript</a>?
                Nice. You&#39;re better-off without the comments.
            </p>
        </noscript>
        <p class="isso-powered">
            <a href="https://posativ.org/isso/">comments powered by Isso</a>
        </p>
    </footer>
</article>
